<div class="week_reward_wrapper">
  <div class="week_reward_label">
    Week Payout:
  </div>
  <div class="week_reward_value">
    $<%= @week_payout.to_s %>
  </div>
</div>

<div class="title">
  <h1>Today's Activities</h1> 
</div>

<div class="today-tasks">
  <h3>Overdue:</h3>
  <ul class="overdue_tasks">
  <% @overdue.each do |act| %>
    <%= render partial: 'today_task', object: act, as: 'act' %>
  <% end %>
  </ul>


  <div id="today">
  <h3>Scheduled for Today:</h3>
  <ul>
    <span class="today_tasks">
      <% @incomplete.each do |act| %>
	<%= render partial: 'today_task', object: act, as: 'act' %>
      <% end %>
    </span>
  <li>
    <%= form_tag('/activity_handler', id: "add_task", remote: true) do %>
      <%= text_field_tag 'name' %>
      <%= hidden_field_tag 'type_group', 1 %>
      <%= hidden_field_tag 'show_date', Date.current %>
      <%= hidden_field_tag 'report_to', 0 %>
      <%= hidden_field_tag 'expiration_date', "" %>
      <%= hidden_field_tag 'reward', "" %>
      <%= hidden_field_tag 'penalty', "" %>
      <%= hidden_field_tag 'parent_id', "" %>
    <% end %>
  </li>
  </ul>
  </div>

  <h3>Complete:</h3>
  <ul class="complete_tasks">
  <% @complete.each do |act| %>
    <%= render partial: 'today_task', object: act, as: 'act' %>
  <% end %>
  </ul>
</div>


  <div class="today-menu-container">
    <ul class="today-menu">
      <li class="today-menuitem" id="today-menuitem-view">
	View
      </li>
      <li class="today-menuitem" id="today-menuitem-edit">
	Edit
      </li>
      <li class="today-menuitem" id="today-menuitem-remove">
	Remove
      </li>
    </ul>
  </div>
