<p>You have earned $<%= @week_payout.to_s %> this week</p>
<h1>Today's Activities</h1> 
<%= link_to "add activity", new_activity_handler_path %><br>
<% if !@overdue.empty? %>
  <h3>Overdue:</h3>
  <ul>
  <% @overdue.each do |act| %>
    <li><%= link_to act.name, controller: "activity_handler", action: "show", id: act.id %> | <%= link_to "Complete",  controller: "activity_handler", action: "toggle", id: act.id %> | <%= link_to "Remove", activity_handler_path(act.id), method: :delete %> | <%= link_to "Edit", edit_activity_handler_path(act.id) %></li>
  <% end %>
  </ul>
<% end %>
<% if !@incomplete.empty? %>
  <div id="today">
  <h3>Scheduled for Today:</h3>
  <ul>
  <% @incomplete.each do |act| %>
    <li><%= link_to act.name, controller: "activity_handler", action: "show", id: act.id %> | <%= link_to "Complete",  controller: "activity_handler", action: "toggle", id: act.id %> | <%= link_to "Remove", activity_handler_path(act.id), method: :delete %> | <%= link_to "Edit", edit_activity_handler_path(act.id) %></li>
  <% end %>
  </ul>
  </div>
<% end %>
<% if !@complete.empty? %>
  <h3>Complete:</h3>
  <ul>
  <% @complete.each do |act| %>
    <li><%= link_to act.name, controller: "activity_handler", action: "show", id: act.id %> | <%= link_to "Incomplete",  controller: "activity_handler", action: "toggle", id: act.id %> | <%= link_to "Remove", activity_handler_path(act.id), method: :delete %> | <%= link_to "Edit", edit_activity_handler_path(act.id) %></li>
  <% end %>
  </ul>
<% end %>
