<!DOCTYPE html>
<html>
  <head>
    <title>GoalsBasic</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="header">
      <ul class="left_nav">
	<li><%= link_to "Today", today_path %></li>
	<li><%= link_to "Week", week_path %></li>
	<li><%= link_to "Overview", overview_path %></li>
	<li><%= link_to "Feed", feed_path %>
      </ul>

      <div class="logo">
	<%= link_to "inspireDO", root_url %>
      </div>
      <ul class="right_nav">
	<li>
	  <% if current_user %>
	    <%= link_to current_user.email, user_path(current_user) %> |
	    <%= link_to "Log out", log_out_path %>
	  <% else %>
	    <%= link_to "Sign up", sign_up_path %> or 
	    <%= link_to "log in", log_in_path %>
	  <% end %>
	</li>
      </ul>
    </div>
    <div class="container">

      <div class="alert_container">
	<% if flash[:notice] %>
	  <div class="notice"><%= flash[:notice] %></div>
	<% end %>

	<% if flash[:alert] %>
	  <div class="alert"><%= flash[:alert] %></div>
	<% end %>
      </div>

      <%= yield %>
    </div>

  </body>
</html>
